.sty_order {
    .fake_row {
        display: inline-block;
        vertical-align: middle;
    }
    .drawer_control {
        width: 20%;
    }
    .details {
        width: 50%;
    }
    .actions {
        width: 30%;
    }
}
